

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{layout :: atlassianConnectResources}">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form th:action="@{/generate-test-case}" th:object="${generationRequest}" method="post">
        <div>
            <label>Request:</label>
            <input type="text" th:field="*{requestText}" placeholder="enter text" />
        </div>
        <button type="submit" onclick="console.log('1')">Submit!</button>
    </form>
</div>
</body>
</html>