<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Iframe</title>
    <meta charset="UTF-8"/>
    <script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//aui.atlassian.com/aui/latest/index.css" media="all">

    <meta name="token" th:content="${atlassianConnectToken}"/>

    <script id="dist-location" type="text/html">https://unpkg.com/@atlassian/aui@9.6.0/dist/aui</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.css">
    <link rel="preload" href="https://aui.atlassian.com/aui/latest/fonts/adgs-icons.woff" as="font">
    <link rel="preload" href="https://aui.atlassian.com/aui/latest/fonts/adgs-icons.ttf" as="font">
    <link rel="preload" href="https://aui.atlassian.com/aui/latest/fonts/adgs-icons.eot" as="font">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://6e74-79-119-241-15.ngrok-free.app/styles">
    <style>
        .green-button {
            --aui-btn-bg: #36B37E;
            --aui-btn-text: #FFF;
            --aui-btn-border: #006644;
        }
        .red-button {
            background-color: red;
        }
    </style>
    <script>
        $(document).ready(function(){
            $("#hello").click(function(){
                $.ajax({
                    url: "generate-test-case",
                    method: "post",
                    beforeSend: function (request) {
                        var token = $('meta[name="token"]').attr("content");
                        request.setRequestHeader("Authorization", "JWT " + token);
                    }
                }).done(function(data) {
                    $('#ac-content-id').html(data);
                });
            });
        });
    </script>
    <script>
        AP.context.getContext(function(context) {
            var issueKey = context;
            document.getElementById("sample-text-id").textContent = JSON.stringify(issueKey);
        });
    </script>
</head>
<body>
<div id="content">
    <div class="ac-content" id="ac-content-id">
        <button id="hello">Hello AJAX!</button>
        <form
                th:method="GET" th:href="@{/hello-world(jwt=${atlassianConnectToken})}">

            <button type="submit" name="submit" value="value" class="aui-button aui-button-primary">DELETE</button>
        </form>
        <p id="sample-text-id">Sample text</p>
        <button class="aui-button green-button">

            <img class="aui-icon aui-icon-small" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQegowPDKqrJzjjfqfoFznZnVrzdq9uNE6g71NrtBT6R5GBXHvmK4qtr9KF78wB4psgejg&usqp=CAU" alt="">
            Atlassian properties custom style button
        </button>
        <br>
        <button class="red-button">
            Button with style from style tag
        </button>
        <br>
        <button class="blue-button">
            button with style from style.css file
        </button>
        <br>
        <button class="yellow-button">
            button with style from custom style link
        </button>
    </div>
</div>
</body>
</html>