<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:fragment="atlassianConnectResources">
        <script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
        <link rel="stylesheet" href="//aui.atlassian.com/aui/latest/index.css" media="all">
        <script src="//aui-cdn.atlassian.com/aui-adg/6.0.5/js/aui.min.js"></script>
    </th:block>
    <title>Jira plugin layout page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body></body>
</html>